*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body{
 background-color: aqua;
}
#countdown{
 font-size: 500px;
 text-align: center;
 color: rgb(166, 210, 249);
 margin-top: 40px;
 animation: countdown 11s ease-in;
}
h1{
 font-weight: bold;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conclusion, .statement {
 text-align: center;
 color: rgb(166, 210, 249);
 animation: line 11s ease-in;
}
.timer{
 background-color: rgb(1, 1, 72);
 border-color: black;
 border-style: double;
 height: 100vh;
 width: 100vw;
 animation: timer 11s ease-in-out;
}
@keyframes timer{
 from{
  height: 1vh;
 }
 to{
  height: 100vh;
 }
}
@keyframes countdown{
 0% {
  color: rgb(1, 1, 72)
 }
 50% {
  color: rgb(166, 210, 249)
 }
 100% {
  color: aqua
 }
}
@keyframes line{
 0% {
  color: aqua
 }
 100% {
  color: rgb(166, 210, 249)
 }
}